@import 'box'
@import 'background'
@import 'shadow'
@import 'transform'

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments

animation()
	-webkit-animation arguments
	-o-animation arguments
	animation arguments

user-select() 
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none