box-reset()
	padding 0
	margin 0
	outline 0
	border 0

border-box()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

inline-block()
	display inline-block
	vertical-align top

gradient-radial-cover(colorBg, colorShine)
	background: colorBg -webkit-radial-gradient(center center, circle cover, colorShine 0, colorBg 50%);
	background: colorBg -moz-radial-gradient(center center, circle cover, colorShine 0, colorBg 50%);
	background: colorBg -o-radial-gradient(center center, circle cover, colorShine 0, colorBg 50%);
	background: colorBg radial-gradient(circle at center center, colorShine 0, colorBg 50%);

background-svg(svgUrl, pngUrl)
	background url(pngUrl) left top no-repeat
	background rgba(0,0,0,0) url(svgUrl) left top no-repeat