box-shadow(x, y, blur, offset = 0, color = rgba(0,0,0,.5))
	-webkit-box-shadow x y blur offset color
	-moz-box-shadow x y blur offset color
	box-shadow x y blur offset color

text-shadow(x, y, blur, color = rgba(0,0,0,.5))
	text-shadow x y blur color